.shadow {
  text-shadow: 2px 2px 2px black;
}

.translucent {
  background-color: rgba(130, 130, 130, 0.6);
}

.booklist-photo {
  background-image: url(../public/booklist-background.jpeg);
  background-size: cover;
}

.bookreview-photo {
  background-image: url(../public/bookreview-background.jpg);
  background-size: cover;
}

.login-photo {
  background-image: url(../public/login-background.jpeg);
  background-size: cover;
  height: 100vh;
}

.register-photo {
  background-image: url(../public/register-background.jpeg);
  background-size: cover;
  height: 100vh;
}
